<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="plus.shipin.tvcommon">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- 硬件加速对X5视频播放有利，建议开启 -->
    <uses-permission android:name="android.permission.GET_TASKS" />

    <application>
        <activity
            android:name=".ui.SystemWebViewPlayer"
            android:screenOrientation="landscape"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleInstance"
            android:theme="@style/NoTitleFullscreen"></activity>
        <activity
            android:name=".ui.TBSPlayer"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.tencent.smtt.sdk.VideoActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="sensorLandscape">
            <intent-filter>
                <action android:name="com.tencent.smtt.tbs.video.PLAY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.TVActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.WebviewActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.X5WebviewActivity"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/NoTitleFullscreen" />
        <activity
            android:name=".ui.PlatformActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.PlayerActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleInstance"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/NoTitleFullscreen" />
    </application>

</manifest>